/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




*{
	box-sizing:border-box;
}

body{
    line-height:1.5;
    margin:0px;
	padding:0px;
}

/* header{
    height:90px;
    padding:20px 30px;
    background-color: #18567a;
    margin-bottom:80px;
} */

.register-link{
    color:white;
}

.register-link:hover{
    color: cyan;
}

h1{
    text-align:left;
    font-size:30px;
    color:white;
}

.login-form{
    width:400px;
    margin:0 auto;
    /* margin-top:80px; */
    padding: 20px 25px;
    border-radius: 10px;
    background-color: cadetblue;
    box-shadow: 10px 10px 15px #929090;
}

.login-form h1{
    color: white;
    text-align:center;
    margin-bottom:20px;
}
input{
    width:350px;
    border:1px solid black;
    height:40px;
    border-radius: 5px;
    margin-bottom:30px;
    padding:0 10px;
}

input[type="submit"]{
    font-size:30px;
    height:40px;
    background-color: #0f425f;
    color:white;
    font-weight:700;
    border:none;
    margin-bottom:20px;
}

.login-form p{
    text-align: center;
}

label {
    font-size: 20px;
    color: white;
}

.alert{
    background-color: rgba(255,0,0,0.3);
    color: red;
    width: 400px;
    padding: 15px 30px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.alert p{
    font-size: 18px;
}